{% extends "layout.html" %}
{% autoescape None %}
{% block body %}
<link rel="stylesheet" href="{{static_url('starter-template.css')}}" crossorigin="anonymous">
<link rel="stylesheet" href="{{static_url('bubble.css')}}" crossorigin="anonymous">
<link rel="stylesheet" href="{{static_url('progressjs.min.css')}}" crossorigin="anonymous">
<link rel="stylesheet" href="{{static_url('default.min.css')}}" crossorigin="anonymous">
<link rel="stylesheet" href="{{static_url('monokai-sublime.css')}}" crossorigin="anonymous">


<style>
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }

  .main_container {
    display: flex;
    flex: 1;
  }

  .conversation_container {
    width: 60%;
    height: 100%;
  }

  #live2d-container {
    position: fixed;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: transparent;
  }
</style>

<script src="static/pixi-live2d-display/live2dcubismcore.min.js"></script>
<script src="static/pixi-live2d-display/live2d.min.js"></script>
<script src="static/pixi-live2d-display/pixi.min.js"></script>
<script src="static/pixi-live2d-display/index.min.js"></script>
<script src="static/pixi-live2d-display/extra.min.js"></script>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">XiaoYi-Robot</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">会话</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/configpage">配置</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logpage">日志</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/qa">QA集</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api">API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/donate">捐赠</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a class="btn btn-outline-success my-2 my-sm-0" href="https://wukong.hahack.com" target="_blank">文档</a>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-4">
    <image src="./static/robot.png" width=128px attr="XiaoYi-Robot" /> XiaoYi-Robot
  </h1>
  <p class="lead">你好，我是小翼机器人。</p>
  <hr class="my-4">
  {% if notices %}
  {% for notice in notices %}
  <p><i class="fas fa-bell"></i> {{ linkify(notice) }}</p>
  {% end %}
  {% end %}
</div>

<div class="main_container" id="main_container">
  <div class="conversation_container" id="conversation_container">
    <div class="history">
    </div><!-- <div class="history"> -->

    <div class="query-form">
      <center>
        <form class="form-row" action="#">
          <label for="query" class="col-sm-2 col-form-label col-form-label-lg">说句话：</label>
          <div class="col-7">
            <input type="text" class="form-control" name="query" id="query" placeholder="{{suggestion}}"
              list="my-datalist" required autofocus>
            <datalist id="my-datalist">
              {% for item in suggestions %}
              <option value="{{ item }}">
                {% end %}
            </datalist>
          </div>
          &nbsp;
          <button type="submit" class="btn btn-primary mb-2 CHAT"><i class="fas fa-comment"></i> 发送</button>
        </form>
      </center>
    </div><!-- <div class="query-form"> -->
    <hr class="divider">
  </div>
</div>
<div id="frame_control"></div>
<div class="live2d-container" id="live2d-container">
  <canvas id=canvas></canvas>
</div>

<br />

<ul id="recorder" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
  <li class="mfb-component__wrap">
    <a href="#" id="record" class="mfb-component__button--main">
      <i class="mfb-component__main-icon--resting fa fa-microphone"></i>
      <i class="mfb-component__main-icon--active fa fa-times"></i>
    </a>
    <ul class="mfb-component__list">
      <li>
        <a href="#" id="stop-record" data-mfb-label="停止录制语音指令" class="mfb-component__button--child">
          <i class="mfb-component__child-icon fas fa-stop"></i>
        </a>
      </li>
      <li>
        <a href="#" id="start-record" data-mfb-label="开始录制语音指令" class="mfb-component__button--child ">
          <i class="mfb-component__child-icon fas fa-circle"></i>
        </a>
      </li>
    </ul>
  </li>
</ul>
<script type="module" src="static/main_new.js"></script>

<script src="./static/highlight.min.js"></script>
<script src="./static/markdown-it.min.js"></script>
<script src="{{static_url('main.js')}}" crossorigin="anonymous"></script>
<script type="module" src="{{static_url('index_new.js')}}" crossorigin="anonymous"></script>
<script src="./static/recorder.min.js"></script>
<script src="./static/progress.min.js"></script>
{% end %}